console {
  org.keycloak.adapters.jaas.BearerTokenLoginModule required
    keycloak-config-file="${artemis.instance}/etc/keycloak-bearer-token.json"
    role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
  ;
};

activemq {
  org.keycloak.adapters.jaas.DirectAccessGrantsLoginModule required
    keycloak-config-file="${artemis.instance}/etc/keycloak-direct-access.json"
    role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
  ;

  org.apache.activemq.artemis.spi.core.security.jaas.PrincipalConversionLoginModule required
    principalClassList=org.keycloak.KeycloakPrincipal
  ;
};
